*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(240, 248, 255, 0.771);
}

.title {
    color: #ffffffc2;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.background {
    background-color: #b24545;
}

a {
    color: rgba(240, 248, 255, 0.814);
}

a:hover {
    color: rgba(0, 0, 255, 0.334);
}

body {
    background-color: rgb(59, 89, 89);
    margin: 0px;
}

.rm_underline {
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.imgmohinga {
    width: 65%;
}

img.imgsteak {
    width: 37%;
}

img.imgchicken {
    width: 55%;
}

p.imgheading {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

ul.nav {
    background-color: #b24545;
    width: full;
    color: rgba(240, 248, 255, 0.77);
}

body ul li.position {
    text-align: center;
    display: inline-block;
    font-size: 17px;
    border: #45dfdf solid 1px;
    padding: 10px;
    margin: 5px;
    width: 30%;
}